<!DOCTYPE html>
<html>
<head>
    <title>Ranking de usuários</title>
    <style type="text/css">
        .conteudo{
            width: 800px;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: left;
            width: 800px;
        }
        thead {
            background-color: #ccffc1;
        }
        th, td {
            padding: 5px;
        }
        th {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="conteudo">
        <table>
        <thead>
            <tr>
                <th class="subject">Usuário</th>
                <th class="date">Pontos</th>
            </tr>
        </thead>
        {% for player in players %}
            <tr>
                <td>{{ player.username }}</td>
                <td>{{ player.pontos }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>


